.secTwo {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.secTwo-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
}

.secTwo h1 {
    display: flex;
}

.secTwo .sec-two-category {
    font-size: 36px;
    padding: 30px;
    font-weight: 700;
    text-align: center;
}

.secTwo .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

}

.secTwo .category .up-category,
.secTwo .category .down-category {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.secTwo .man,
.secTwo .woman,
.secTwo .uni,
.secTwo .kid {
    display: flex;
    position: relative;
    border: 3px solid black;
    width: 48%;
    min-width: 250px;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    height: 250px; 
}

.secTwo .man{
    border-top-left-radius: 15px;
}
.secTwo .woman{
    border-top-right-radius: 15px;
}
.secTwo .uni{
    border-bottom-left-radius: 15px;
}
.secTwo .kid{
    border-bottom-right-radius: 15px;
}

.secTwo .man:hover .manImage,
.secTwo .woman:hover .womanImage,
.secTwo .uni:hover .uniImage,
.secTwo .kid:hover .kidImage {
    transform: scale(1.1);
}

.secTwo .manImage,
.secTwo .womanImage,
.secTwo .uniImage,
.secTwo .kidImage {
    width: 180px;
    height: 180px;
    object-fit: cover;
    transition: 0.5s;
}

.secTwo .man h1,
.secTwo .woman h1,
.secTwo .uni h1,
.secTwo .kid h1 {
    display: flex;
    justify-content: start;
    font-weight: 600;
}

.secTwo .man .man-image,
.secTwo .woman .woman-image,
.secTwo .uni .uni-image,
.secTwo .kid .kid-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Tablet */
@media (max-width: 1024px) {

    .secTwo .man,
    .secTwo .woman,
    .secTwo .uni,
    .secTwo .kid {
        width: 100%;
    }

    .secTwo .category .up-category,
    .secTwo .category .down-category {
        flex-direction: column;
        gap: 10px;
    }
}

/* Mobil */
@media (max-width: 600px) {

    .secTwo .manImage,
    .secTwo .womanImage,
    .secTwo .uniImage,
    .secTwo .kidImage {
        width: 50%;
        height: auto;
        
    }

    .secTwo .man,
    .secTwo .woman,
    .secTwo .uni,
    .secTwo .kid {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        border-radius: 15px;
    }

    .secTwo .man .man-image,
    .secTwo .woman .woman-image,
    .secTwo .uni .uni-image,
    .secTwo .kid .kid-image {
        /* position: static; */
        display: flex;
        margin-top: 10px;
        justify-content: end;
    }
    .secTwo .man,
.secTwo .woman,
.secTwo .uni,
.secTwo .kid {
    height:240px;
}
}