.secthree h1{
    text-align: center;
    padding: 30px;
    font-size: 36px;
    font-weight: 700;
}
.secthree-product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.7rem;
    padding-bottom: 1.8rem;
}
.secthree{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.secthree-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 84%;
}

.secthree .secthree-controls button {
    color: black;
    background-color: white;
    cursor: pointer;
    line-height: normal;
    padding: 12px 35px;
    text-transform: capitalize;
    font-size: 1.4rem;
    border-radius: .4rem;
    border: none;
    border: 1px solid black;
    font-weight: 500;
}
.secthree .secthree-controls{
    display: flex;
    justify-content: center;
}