@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card-Section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px;
    justify-content: center;
}

.card-Section span{
    color: black;
}

.card-Section .video {
    position: absolute;
    filter: brightness(0.5);
}

.card-Section .cardd {
    position: relative;
    z-index: 1;
    margin: 10px;
    padding: 30px;
    color: white;
    width: 440px;
    border-radius: 10px;
    height: 600px;
    border:1px solid black !important;
    background-color: white !important;

}

.card-Section .cardd h2 {
    display: block;
    font-family: 'Poppins';
    font-size: 39px;
    line-height: 1.2;
    text-align: center;
    color: black;
}

.card-Section .cardd .type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
    color: black;
}

.card-Section .cardd .type span {
    font-family: Poppins;
    font-size: 14px;
    color: black !important;
    line-height: 1.5;
    padding-left: 7px;
}

.card-Section .cardd .type .user-name {
    display: flex;
    flex-direction: column;
}

.card-Section .cardd .type .input {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 372px;
    border-bottom: 2px solid #ffffff;
}

.card-Section .cardd .type .input input {
    font-family: Poppins;
    font-size: 16px;
    color: black ;
    line-height: 1.2;
    display: block;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 17px;
    border: none;
    outline: none;
    width: 30rem;

}

.card-Section .cardd .type .input input:focus {
    
    border-color: transparent ;
}

.card-Section .cardd .type input::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -2px;
    background-color: red;
}

.card-Section .button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-Section .button .forgot {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

.card-Section .button .forgot a {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.7;
    color: black;
    text-align: end;
    display: flex;
    justify-content: end;
}

.card-Section .button .forgot button {
    font-family: 'Poppins';
    font-size: 16px;
    color: color;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 390px;
    height: 50px;
    padding: 20px 0;
    background: white;
    border-radius: 30px;
    border: none;
    transition: 10s all;
}

.card-Section .button .forgot button:hover {
    transition: all 10s ease;
    opacity: 0.8;
}

.card-Section .about {
    display: flex;
    flex-direction: column;
}

.card-Section .about .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.card-Section .about .social-media a {
    font-family: Poppins;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
}

.card-Section .about .social-media .icons {
    display: flex;
    gap: 10px;
}

.card-Section .about .social-media .icons .social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease;
}

.card-Section .about .social-media .icons .social.facebook {
    background-color: #3b5998;
}

.card-Section .about .social-media .icons .social.twitter {
    background-color: #1da1f2;
}

.card-Section .about .social-media .icons .social.google {
    background-color: #ea4335;
}

.card-Section .about .social-media .icons .social .media {
    width: 20px;
    height: 20px;
    color: #fff;
}

.card-Section .about .social-media .icons .social:hover {
    background-color: #4e3737;
}

.card-Section .about .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-Section .about .sign a {
    font-family: Poppins;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
}

@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .card {
        position: relative;
        top: 0;
    }
}
