.sec-four-bloq{
    text-align: center;
    padding: 30px;
    font-size: 36px;
    font-weight: 700;
}
.secfour-card{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 30px;

}
.sec-four{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sec-four-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 84%;
}





.secfour-card .title{
    font-size: 1.20rem;   
    width: 21.5rem;
}
.secfour-card .calendar-logo{
    color: darkgoldenrod;
}
.secfour-card .calendar{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
}
.secfour-card .text{
    color: darkgray;
    font-size: 14px;
}


@media (max-width:768px) {
   .secfour-card .text{
    color: darkgray;
    font-size: 14px;
    width: 19rem;
}
.sec-four .title {
    width: 20rem;
}

}